<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<base href="../" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Short.ly - Acortador de enlaces</title>
	<!-- Esta CSS define un estilo COMÚN que tendrán todos los HTML -->
	<link rel="stylesheet" type="text/css" href="commonstyle.css" ></link>

	<!-- Esta CSS define un estilo que comparten las pantallas de login -->
	<link rel="stylesheet" type="text/css" href="login/identifiedcommon.css"></link>

	<!-- Esta CSS define un estilo ESPECIFICO que solo tendrá este HTML -->
	<link rel="stylesheet" type="text/css" href="login/stats.css"></link>

	<!-- Google fonts -->
	<link href='http://fonts.googleapis.com/css?family=Autour+One' rel='stylesheet' type='text/css'></link>
	
</head>
<body>
	<div id="container">
		<div id="header">
			<h1>sh&nbsp;&nbsp;rt.ly</h1>
			<img id="headscissors" src="icons/generalicons/headscissors.svg" alt="scissors"/>
		</div>
		<div id="body">
			<div id="shortener">
				<form id="urlshortener" action="/">
				    <p><input type="text" name="largeurl" value="Introduce tu link aqui..." class="shortener"></input>
				    <input type="submit" name="Submit" value="short it!" class="submit"></input></p>
				</form>
			</div>
            <div id="signmenu">
            	    <img id="logout" src="icons/loginicons/logout.svg" alt="logout"/><br />
            </div>
            <div id="content">
                  <div id="chart">
                        <img class="chartimage" src="icons/charticons/browserschart.svg" alt="Short your links!"/><br />
                  </div>
                  <div id="views">
                        <input type="submit" name="Submit" value="Vista web" class="viewselect"></input><br />
                        <input type="submit" name="Submit" value="Vista país" class="viewselect"></input><br />
                        <input type="submit" name="Submit" value="Vista navegador" class="viewselect"></input><br />
                  </div>
                  <div id="goto">
                        <input type="submit" name="Submit" value="Tiempo" class="screenselect"></input>
                        <input type="submit" name="Submit" value="Fuente" class="screenselect"></input>
                        <input type="submit" name="Submit" value="Enlaces" class="screenselect"></input>
                  </div>
          	</div>
	        <div id="share">
	            <p><img class="shareimage" src="icons/shareicons/facebook.svg" alt="share on facebook"/>
	            <img class="shareimage" src="icons/shareicons/twitter.svg" alt="share on twitter"/><br />
	            síguenos</p>
	        </div>
	        <div id="footer">
	        	<img id="footscissors" src="icons/generalicons/footscissors.svg" alt="footscissors" />
	            <p>ayuda - contacto - desarrolladores - about us - facebook - twitter</p>
	            <div id="titlefooter">
	            	<img id="footimage" src="icons/generalicons/footimage.svg" alt="scissors" />
	            </div>
	        </div>
		</div>
	</div>

</body>
</html>
